<!DOCTYPE html>
<html>

<head>
    <script src="/js/watch.js"></script>
</head>

<body>
    <div>
        {{>header}}
    </div>
    <div>
        <video width="320" height="320" controls>
            <source src="{{url}}" type="video/mp4">
        </video><br>
        <div>
            <button class="btnUnselected" type="button" id="btnLike">Like</button> 
            <label>{{likes}}</label>
        </div>
        <div>
            <button class="btnUnselected" type="button" id="btnDislike">Dislike</button> 
            <label>{{dislikes}}</label>
        </div>
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p><b>By </b> {{uploader}} <b>-</b> {{dateFormat createdAt 'YYYY/MM/DD'}}</p>
        <p><b>Tags: </b>{{tags}}</p>
    </div>
</body>

</html>