<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div>
        <video width="320" controls>
            <source src={{url}} type="video/mp4">
        </video>
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>by{{uploader}}</p>
        <p>{{tags}}</p>
    </div>
</body>

</html>